:root {
  --oui-font-family: 'Fira Sans', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 242 31 31;
  --oui-color-primary-light: 249 56 56;
  --oui-color-primary-darken: 232 20 20;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 242 31 31;
  --oui-color-link-light: 249 56 56;

  --oui-color-secondary: 255 215 40;
  --oui-color-tertiary: 255 229 79;
  --oui-color-quaternary: 248 201 6;

  --oui-color-danger: 242 31 31;
  --oui-color-danger-light: 249 56 56;
  --oui-color-danger-darken: 232 20 20;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 76 185 76;
  --oui-color-success-light: 110 200 110;
  --oui-color-success-darken: 50 155 50;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 215 40;
  --oui-color-warning-light: 255 229 79;
  --oui-color-warning-darken: 248 201 6;
  --oui-color-warning-contrast: 26 26 26;

  --oui-color-fill: 18 17 16;
  --oui-color-fill-active: 31 25 25;

  --oui-color-base-1: 43 39 38;
  --oui-color-base-2: 31 25 25;
  --oui-color-base-3: 18 17 16;
  --oui-color-base-4: 14 14 14;
  --oui-color-base-5: 10 10 10;
  --oui-color-base-6: 8 8 8;
  --oui-color-base-7: 45 27 27;
  --oui-color-base-8: 31 25 25;
  --oui-color-base-9: 18 17 16;
  --oui-color-base-10: 8 8 8;

  --oui-color-base-foreground: 250 250 250;
  --oui-color-line: 45 27 27;

  --oui-color-trading-loss: 242 31 31;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 76 185 76;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 249 56 56;
  --oui-gradient-primary-end: 255 215 40;

  --oui-gradient-secondary-start: 255 229 79;
  --oui-gradient-secondary-end: 248 201 6;

  --oui-gradient-success-start: 110 200 110;
  --oui-gradient-success-end: 50 155 50;

  --oui-gradient-danger-start: 249 56 56;
  --oui-gradient-danger-end: 232 20 20;

  --oui-gradient-brand-start: 242 31 31;
  --oui-gradient-brand-end: 255 215 40;
  --oui-gradient-brand-stop-start: 0%;
  --oui-gradient-brand-stop-end: 100%;
  --oui-gradient-brand-angle: 135deg;

  --oui-gradient-warning-start: 255 229 79;
  --oui-gradient-warning-end: 248 201 6;

  --oui-gradient-neutral-start: 18 17 16;
  --oui-gradient-neutral-end: 31 25 25;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 16px !important;
}